# Токен Telegram бота, полученный у @BotFather
BOT_TOKEN="123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ"

# URL развернутого Telegram Mini App (React)
WEBAPP_URL="https://ais-pre-3xeyotanildylb6nzg47ki-97067624345.europe-west1.run.app"

# ID Telegram чата администратора или группы для получения уведомлений о новых лидах
ADMIN_CHAT_ID=""
